.tic-tac-toe-section{
    display: grid;
    grid-template-columns: 7rem 7rem 7rem;
    grid-template-rows: 5rem 5rem 5rem;
    justify-content: center;
    align-items: center;    
}


.hide-circle-icon{
    display: none;
}

.hide-cross-icon{
    display: none;
}



